flows.json
[
    {
        "id": "e44e70a.e7b909",
        "type": "tab",
        "label": "Sample",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78f2afac.9c9d3",
        "type": "inject",
        "z": "e44e70a.e7b909",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "d9cf5522.c97c68"
            ]
        ]
    },
    {
        "id": "d9cf5522.c97c68",
        "type": "debug",
        "z": "e44e70a.e7b909",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "5efbb303.03656c",
        "type": "status",
        "z": "e44e70a.e7b909",
        "name": "",
        "scope": null,
        "x": 550,
        "y": 440,
        "wires": [
            []
        ]
    }
]